
.scrollbox{
  background: #eee;
  padding: 0 30px;
  margin: 20px 0;
}
.scroll-img {
  width: 100%;
  height: 142px;
  overflow: hidden;
  font-size: 0;
}

.scroll-img ul li {
  display: inline-block;
  margin: 10px 0 10px 10px;
}
#div-scrollbox.scroll-img ul {
  width: 1500px;
}


/* ---------------navegacion ----------------*/

.btn-scrollbox{
  
}
.btn-scrollbox a{
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn-scrollbox .btn-prev{
  background-image: url(../img/icons/circle-left.png);
  background-size: cover;
  text-indent: -9999px;
  position: absolute;
  top: 40%;
  left: 20px;
}

.btn-scrollbox .btn-next{
  background-image: url(../img/icons/circle-right.png);
  background-size: cover;
  text-indent: -9999px;
  position: absolute;
  top: 40%;
  right: 20px;
}



/*------------ sombra -------------------*/

.sombra-extremo
{
  position: relative;
}
.sombra-extremo:before, .sombra-extremo:after
{
/* Posiciona la sobora por detras del color de la caja*/
    z-index: -1; 
    position: absolute;
    /* no aplico ningun contenidos HTML */
    content: "";
    /* posiciona la sombra con respecto al borde inferior, izquierdo y superior */
    bottom: 15px;
    left: 10px;
    top: 80%;
    /* configura el ancho */
    width: 50%;
/* color de fondo */
    background: #777;
    /* definicion de la sombra estandar para box-shadow */
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    /* rotacion de la sombra */
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);  
}
.sombra-extremo:after
{
    /* rotacion de la sombra */
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    /* posiciona la sombra con respecto al borde izquierdo y derecho */
    right: 10px;
    left: auto;
}